.inputContainer {
    position: relative;
}
.input {
    padding-right: 4rem;
}
:global(.is-invalid).input {
    background-image: none;
}
.iconContainer {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}